<div class="form-group">
    <label for="srcAc" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-4">

      
  	<input type = "dateOption" id = "dateOption" class="form-control" ng-model="account.dateOption"/>
	 

    </div>
  </div>
  <div class="form-group">
    <label for="destAc" class="col-sm-2 control-label">Amount</label>
    <div class="col-sm-4">

    	<input type = "amount" id = "amount" class="form-control" ng-model="account.amount">
		

    </div>
  </div>

<div class="form-group">
    <label for="destAc" class="col-sm-2 control-label">Currency</label>
    <div class="col-sm-4">

      <input type = "currency" id = "currency" class="form-control" ng-model="account.currency">
    

    </div>
  </div>

  <div class="form-group">
    <label for="destAc" class="col-sm-2 control-label">Memo</label>
    <div class="col-sm-8">

      <input type = "memo" id = "memo" class="form-control" ng-model="account.memo">
    

    </div>
  </div>

  