

 <div class="col-sm-2"></div>
 <div >
<h4> {{step}} </h4>
<hr/>
</div>


<form class="form-horizontal">

<div class="form-group">
	<div class="col-sm-2"></div>
   <div class="col-sm-3">Source</div>
    <div class="col-sm-4 ">

      
  	{{account.sourceIndex}}
	 

    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2"></div>
   <div class="col-sm-3">Destination</div>
    <div class="col-sm-4 ">
      
  	{{account.destIndex}}
	 

    </div>
  </div>


<div class="form-group">
   <div class="col-sm-2"></div>
   <div class="col-sm-3">Date</div>
    <div class="col-sm-4 ">
      
  	{{account.dateOption}}
	 

   
    </div>
  </div>


  <div class="form-group">
   <div class="col-sm-2"></div>
   <div class="col-sm-3">Amount</div>
    <div class="col-sm-4 ">

    	{{account.amount}}
		

    </div>
  </div>

<div class="form-group">
    <div class="col-sm-2"></div>
   <div class="col-sm-3">Currency</div>
    <div class="col-sm-4 ">

      {{account.currency}}
    
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2"></div>
   <div class="col-sm-3">Memo</div>
    <div class="col-sm-4 ">

     {{account.memo}}
    

  
    </div>
  </div>

<div class = "form-group" id = "contextualDisplayBottom">
<div class="col-sm-2"></div>
<div class="col-sm-8">	
<h4><small>{{contextualDisplayBottom}} </small></h4>
</div>
</div>

<div class="col-sm-2"></div>
<div id="button container">
<button type="button" class="btn btn-default" ng-click="makeChanges(account)">Make Changes</button>
<button type="button" class="btn btn-primary" ng-click="submitRecap(account)">Confirm</button>
</div>


</form>